* {
    margin: 0;
    padding: 0;
    font-family: 'bookman old style';
}

header {
    background-color: #162fa0;
    padding: 10px;
    text-align: center;
    height: 20%;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    font-size: 32px;
    color: white;
    margin-top: 10px;
}

/* Table */
table {
    width: 95%;
    margin: 20px auto; /* Center the table horizontally */
    max-height: 100%;
    border-collapse: collapse; /* Combine border spacing into one */
    border: 2px solid black;
    
}

/* Individual column widths */
.fullname {
    width: 13%;
}

.sched {
    width: 8%;
}

.next-button{
    cursor: pointer;
}
/* Table header */
th {
    height: 2px;
    text-align: center;
    background-color: #162fa0;
    color: white;
    font-family: 'Bookman Old Style', serif;
    font-size: 10px;
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure the header appears above the table content */
    border: 2px solid black;
}


/* Table cells */
td {
    border: 2px solid black;
    padding: 4px;
    font-family: 'Bookman Old Style', serif;
    font-size: 12px;
}
#monitoringTable th {
    font-size: 12px;
    position: sticky;
    top: 0;
    background-color: #162fa0;
    
}

.scroll{
    overflow-y: scroll;
    margin-top: 60px;
    margin-left: 20px;
    width: 98%; 
    height: 350px;
    
}

/* Remove the scroll from the table */

/* Ensure the table takes 100% width */
#monitoringTable {
    margin-top: 0px;
    width: 100%;
}


.table-rownumber {
    width: 50px;
}

.hidden {
    display: none;
}

.searchbtn {
    margin-left: 80%;
}

.historylogs{
    position: absolute;
    right: 2%;
    margin-top: -3%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.historylogs:hover{
    background-color: black; /* Change the background color on hover */
}
.settings{
    position: absolute;
    text-decoration: none;
    margin-left: 79%;
    margin-top: 500px;
    
    
}

.settings a{
    border: 2px solid black;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 15px;
}
.settings a:hover{
    background-color: black;
}

.adminBox {
    display: inline-block;
}
.adminBox i {
    color: #3498db;
    margin-left: -2310px;
    font-size: 70%;
}
.adminText {
    display: inline-block;
    vertical-align: left;
    margin-left: -83%;
    font-size: 50%;
}
.adminText span {
    font-weight: bold; /* Optionally make the text bold */
}

@media screen and (min-width: 2560px){
    header{
        width: 2548px;
    }
    #monitoringTable{
        width: 2400px;
        margin-left: 80px;
    }
    header img {
        width: 100px;
        margin-top: 5px;
    }
    #history_logs_button{
        top: 14%;
    }
}
@media screen and (max-width: 1440px) {
    header {
        width: 99%;
    }

    header img {
        width: 110px;
        margin-top: 20px;
    }

    #history_logs_button{
        margin-left: 30%;
        top: 30%;
    } 
}
@media screen and (max-width: 1024px){
    header{
        width: 105%;
    }
    header img {
        width: 100px;
        margin-top: 0px;
    }
    #monitoringTable{
        width: 920px;
        margin-left: 100px;
    }
    #history_logs_button{
        width: 14%;
        top: 30%;
        left: 56%;
    } 
}
@media screen and (max-width: 768px){
     header{
        width: 1010px;
    }
    header img {
        width: 100px;
        margin-bottom: -10px;
    }
    #monitoringTable{
        width: 120%;
        margin-left: 50px;
        position: absolute;
    }
    #history_logs_button{
        width: 16%;
        top: 28%;
        left: 80%;
    } 
}
@media screen and (min-width: 1600px){
    header{
        width: 130%;
    }
    header img {
        width: 100px;
        margin-bottom: -10px;
    }
    #monitoringTable{
        width: 120%;
        margin-left: 05%;
    
    }
    #history_logs_button{
        width: 16%;
        top: 22%;
        left: 109%;
    } 
    
}
