@import url(https://db.onlinewebfonts.com/c/4267d8aa8711bb8c72cbefb26066c9e0?family=Bookman+Old+Style+V2);
*{
margin: 0;
padding: 0;
}
body {
  font-family:  sans-serif;
  background-image: url(blur\ logo.jpeg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  
}
/*Fillup Form*/
.container{
  display: grid;
  margin-top: 75%;
  place-items: center;

  font-family: 'Bookman Old Style, serif'; 
  color: rgb(255, 255, 255);
  
  
   
  
}
.card{
  width: 350px;
  height: 550px;
  
  
}
.inner-box{
  position: relative;
  width: 100%;
  height: 80%;
}
.card-front{
  position: absolute;
  width: 100%;
  height: 110%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,100,0.8)),url(blur\ logo.jpeg.jpg);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden; 
  background: #9aaaea;
  background: -webkit-linear-gradient(89deg, #9aaaea 0%, #cbd9ff 50%, #f6f7ff 100%);
  background: linear-gradient(89deg, #9aaaea 0%, #cbd9ff 50%, #f6f7ff 100%);
  border-radius: 20px;
  opacity: 93%;
}

.card{
 
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  margin-bottom: 32px;
  color: black;
} 

.input-box{
  width: 98%;
  background: rgba(0, 0, 0, 0.089);
  border: 1px solid #020202;
  margin: 5px 5;
  height:  20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  background: #ffffff;
}
 
::placeholder{
  color: black;
  font-size: 15px;
  opacity: 70%;
}
button{
  position: absolute;
  width: 100%;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  text-align: right;
  color: #131111;
  cursor: pointer;
}
button:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}
.Select-office {
  position: absolute;
  top: 66%;
  left: 37%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width for responsiveness */
   
}
.submit-btn{
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1;
  background-color: rgb(178, 173, 199);
}

h1{
font-size: 30px;
margin-bottom: 10px;
}

.dateBox h2{
font-size: 20px;
top: 10px;
}
.currentDate{
  width: 35%;
}

/*For 4k-2560px BigScreen*/
@media screen and (min-width: 2560px) {
  body {
      background-size: 50%; /* Adjust the value to control the zoom effect */
      margin-top: -45%;
  }
  .container {
    margin-top: 50%;
}

.card {
    width: 12%;
}

.card-front {
    padding: 40px;
    
}
body{
  background-size: 150%;
}
.submit-btn{

   
  margin-left: -0%;
  width: 52%;

}
}


 /* ... LAPTOP LARGE 1440 ... */
@media screen and (max-width: 1440px) {
  
  .container {
    margin-top: 100px;
}

.card {
    width: 23%;
    height: 520px;
}

.card-front {
    padding: 40px;
    
}
body{
  background-size: 105%;
}

}

@media screen and (max-width: 1024px) {
   
  .container {
    margin-top: 3%;
}

.card {
    width: 30%;
}

.card-front {
    padding: 50%px;
    
}
}
@media screen and (max-width: 768px)  {
  body {
      background-size: 190%; /* Adjust the value to control the zoom effect */
      margin-top: -6%;
  }
  .container {
    margin-top: 25px;
}

.card {
    width: 55%;
}

.card-front {
    padding: 50px;
    
}
}
/* Media query for tablet devices */
@media screen and (min-width: 555px) and (max-width: 768px)  {
  body {
      background-size: 190%; /* Adjust the value to control the zoom effect */
      margin-top: -6%;
  }
  .container {
    margin-top: 25%;
}

.card {
    width: 55%;
}

.card-front {
    padding: 50px;
    
}
}
 
/* Media query for smaller screens, like phones */
@media screen and (min-width: 320px) and (max-width: 425px){
  body{
    background-size: 300%;
  }
  .container {
      margin-top: 45%;
  }

  .card {
      width: 80%;
  }

  .card-front {
      padding: px;
      
  }

}
@media screen and(max-width: 375px){
  .container {
    margin-top: 100%;
}

.card {
    width: 100px;
}

.card-front {
    padding: 100px;
    
}
}

/*Fillup Form end*/
