body {
    font-family: Arial, sans-serif;

}
header{
 text-align: center;
 
}
hr{
    border: 0;
    border-top: 3px solid #000; /* Change the color and thickness as needed */
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
   
}


 
p:last-child {
    margin-top: 20px;
}
.certify{
    margin-top: 4%;
    margin-left: 28%;
    width: 65.5%;
}
.purpose{
    margin-top: 2%;
    margin-left: 17.5%;
}
.position_designation{
margin-left: 18%;
}
.appear{
    margin-left: 17.5%;
    margin-top: 3%;
    
}
.school_office{
    margin-left: 50%;
    margin-top: -2.7%;
}
.issued{
    margin-left: 17.5%;
}
.control_no{
    margin-left: 17.5%;
}

.school_office{
    margin-left: 38%;
    margin-bottom: 2%;
    
}
.position_designation {
    margin-left: 15%; /* Adjusted margin */
    margin-bottom: 1.4%;
}
.bold-text{
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #000;
    width: auto; /* Change to auto to adjust the width automatically */
    font-size: 21px;
    text-align: center;
    display: inline-block; /* Add this property */
}
#date{
    width: 15%;
    
}
header img {
   
    width: 70px;
    height: auto;
}
