body {
    font-family: Arial, sans-serif;

}
header{
 text-align: center;
 
}
hr{
    border: 0;
    border-top: 3px solid #000; /* Change the color and thickness as needed */
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
   
}
p:last-child {
    margin-top: 20px;
}
.certify{
    margin-top: -2%;
    margin-left: 28%;
    width: 65.5%;
}
.purpose{
    margin-top: -1%;
    margin-left: 20.5%;
}
.position_designation{
margin-left: 18%;
}
.appear{
    margin-left: 20.5%;
    margin-top: -3%;
    
}

.seriesnumber{
    margin-left: 20.5%;
}

.issued{
    margin-left: 20.5%;
    margin-bottom: 4%;
}
.school_office{
    text-align: center;
    margin-left: 21%;
    margin-bottom: 5%;
    margin-top: -6.8%;
}
.position_designation {
    margin-left: -35%; /* Adjusted margin */
    margin-bottom: 4%;
    margin-top: -2%;
    text-align: center;
}
.bold-text{
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #000;
    width: auto; /* Change to auto to adjust the width automatically */
    font-size: 21px;
    text-align: center;
    display: inline-block; /* Add this property */
}
header img {
   
    width: 70px;
    height: auto;
}

.sign{
    width: 7%;
    margin-left: 62%;
    margin-top: -8%;
    position: absolute;
}

.cadiz{
    text-align: center;
    margin-left: 60%;
    top: 78%;
    position: absolute;
    font-size: 15px;
    font-weight: bold;

}
.cadiz span{
    font-weight: lighter;

}
#btnPrint {
    position: absolute; /* Adjust the distance from the bottom as needed */
    top: 90%;
    right: 45%; /* Adjust the distance from the right as needed */
    padding: 10px 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}
#backButton{
    position: absolute; /* Adjust the distance from the bottom as needed */
    top: 90%;
    right: 52.5%; /* Adjust the distance from the right as needed */
    padding: 10px 10px;
    background-color: #162fa0;
    color: #fff;
    border: none;
    cursor: pointer;
}


